body {
	height: 100vh;
	position: relative;
	background-color: #CCFFFF; 
}

.flex {
	justify-content: center;
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);  
	display: flex; 
}

.chat-robot {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	width: 110px;
	height: 110px;
	line-height: 110px;
	text-align: center;
	color: #555;
	font-size: 40px;
	background: #FFF;
	border: solid 3px #555;
	box-sizing: border-box;
}

.chat-robot:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
	z-index: 2;
}

.chat-robot:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
	z-index: 1;
}

.chat-human {
	position: absolute;
	right: 20%; 
	bottom: 20%;
	display: inline-block;
	margin: 1.5em 15px 1.5em 0;
	padding: 7px 10px;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: #555;
	font-size: 16px;
	background: #FFF;
	border: solid 3px #555;
	box-sizing: border-box;
}

.chat-human:before {
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-left: 12px solid #FFF;
	z-index: 2;
}

.chat-human:after {
	content: "";
	position: absolute;
	top: 50%;
	right: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid #555;
	z-index: 1;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	background-color: #A4C439;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
}

.eyes {
	display: flex
}

.left_eye, .right_eye { 
	width: 35px; 
	height: 35px; 
	border-radius: 20px; 
	background-color: white;  
} 

.left_eye { 
	position: relative; 
	top: 80px; 
	left: 20px; 
} 

.right_eye { 
	position: relative; 
	top: 80px; 
	left: 110px; 
}

.mouth {
	background-color: white;
	width: 20px; 
	height: 1px; 
	position: relative;
	top: 130px; 
	left: 48px;
	display:none;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px;
	transition: all 1s;
} 

.left_arm { 
	margin-right: 10px; 
}

.right_arm { 
	margin-left: 10px; 
	transition: 1.0s; 
	transform-origin: 0%, 0%;
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
	display: flex;
	justify-content: center  
}

.energy_ball {
	border-radius: 50%;
	background-color: white;
	height: 40px;
	width: 40px;
	position: relative;
	top: 50px;
	box-shadow:
    0 0 20px #fff,
    10px 0 40px red,
    -10px 0 40px red
}

.lower_body { 
	display: flex;
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
}

.right_leg { 
	margin-left: 30px; 
}

.message {
	width: 300px; 
	height: 50px;
	font-size: 25px;
	display: none;
}

.message::after {
	content: "|";
	animation: typinganime .8s ease infinite;
}